<!DOCTYPE html>
<!-- Main directive for application -->
<html lang="en" ng-app="myapp">
<head>
    <title>blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="cash.js"></script>
    <!-- test.js contains all data only fetched from server -->
    <script src="test.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
    <!-- Blog Controller that handle MVC -->
<body ng-controller="blog-controller">

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4 class="title"> Blog posts </h4>
      
       <!-- Search By Author name -->
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search By Author .." ng-model="authorName">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchByAuthor(authorName)">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div><br>

        <!-- Add New POST -->
      <div class="well">
          <form action="">
              <input type="text" class="form-control" placeholder="Enter Title" ng-model="post.title" required><br>
              <input type="date" class="form-control" ng-model="post.date" required><br>
              <input type="text" placeholder="author" class="form-control" ng-model="author" required> </br>
              <button type="submit" class="btn btn-info" ng-click="addPost()">Add Post</button>
          </form>
        
      </div>
    </div>

    <div class="col-sm-9">
        <!-- Display All Post  -->
      <h4 class="title">All POSTS</h4><hr>
      <div class="text-center">
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> Previous </button>
              {{currentPage+1}}/{{numberOfPages()}}
          <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
              Next
          </button>
      </div>
        <br>

        <!-- Render post Here with filter  -->
      <div ng-repeat="item in data | startFrom:currentPage*pageSize | limitTo:pageSize" class="well">
          <h2 class="title">{{item.title}}</h2>
          <h5 ng-if="item.date"><span class="label label-default"><span class="glyphicon glyphicon-time">&nbsp;{{item.date}}</span></span></h5>
          <h5 ng-if="item.author"><span class="glyphicon glyphicon-user"></span>&nbsp; <strong>{{item.author}}</strong></h5><br>
          <button ng-if="item.date" class="btn btn-info" ng-click="loadComment(item.id)">View Comments</button>
          <div style="margin-left:30px;margin-top:10px;">           
            <p id="post{{item.id}}"></p>
          </div>
      </div>  
</div>
</body>
</html>
